* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.main-container {
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item {
    width: 250px;
    height: 75px;
    border: 2px solid black;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    order: 3;
}

.item2 {
    order: 1;
}

.item3 {

}
