* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 128);
    min-height: 100vh;
    gap: 15px;
    flex-wrap: wrap;
}

.text-content {
    width: 250px;
    height: 250px;
    border: solid black;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

